/**Global Styles**/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
body { 
  margin: 0 auto; 
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}




/**General Styles**/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/*h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
p, a, span { font-size: 1em; }*/


.text--black {
  color: #2b2b2b;
}

.text--gray {
  color: #545454;
}

.button--black {
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  padding: 18px 32px;
  border-radius: 40px;
  text-transform: uppercase;
}

.button--black:focus, .button--black:hover {
  background: #fff;
  color: #000;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.social-media__icons {
  padding: 0;
  margin: 20px 0 10px;
  text-align: center;
}

.social-media__icons li {
  list-style: none;
  display: inline-block;
}

.social-media__icons a {
    position: relative;
    top: 0;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #454545;
    font-size: 1.2em;
    margin: 0px 6px 10px 6px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.social-media__icons a:focus, .social-media__icons a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-size: 1.7em;
}

.section__title {
  margin-bottom: 0.6em;
  font-weight: 700;
  color: #2b2b2b;
}

.section__subtitle {
  margin-bottom: 2.5em;
  color: #878787;
}

.section__description {
  color: #878787;
  line-height: 2em;
}

.site-footer {
  background-color: #000;
  padding: 1em;
  color: #fff;
  text-align: center;
}
.div--light-background {
  width: 100%;
  height: 100%;
  background-color: #d5e8cc85;
  position: absolute;
  top: 0;
  left: 0;
}


/* ------------ home ------------*/

/**Section Styles**/

/*Banner*/
#banner {
  background-color: #d5f7da;
  height: 100vh;
}   

#banner .header__title {
  margin: 0.8em 0 0.5em;
  font-weight: 700;
  font-size: 3em;
}


/*About*/
#about {
  padding: 100px 0 80px;
  background-color: rgb(249, 249, 249);
}

.about__sidebar img {
  border-radius: 5px;
}

.about__content {
  padding: 20px 10px;
}

/*Interests*/
#interests {
  padding: 100px 0 80px;
  text-align: center;
}

#interests .card {
  padding: 60px 40px;
}

#interests .card .fas {
  font-size: 3em;
  margin: 0.5em 0.2em;
}

/*Introduction*/
.get-in-touch {
  background-color: #EC665B;
}
